.circle {
  display: block;
  background: green;
  border-radius: 50%;
  float: left;
  position: relative;
  text-align: center;
}

.inner-circle {
  position: absolute;
  top: 0;
  background: white;
  font-weight: bold;
  border-radius: 50%;
  display: flex;
  align-items: center;
}

.circle-outer-div {
  display: flex;
  position: relative;
  align-items: center;
}

.circle-percentage-text {
  position: absolute;
  text-align: center;
  width: 100%;
}
